- var styles = getBlock('styles')
- var scripts = getBlock('scripts')
- styles.add(['/css/main.css'])
- scripts.add(['/js/jquery.js', '/js/bootstrap.min.js'])

doctype html
html
  head
    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')
    link(rel='icon', href='../images/favicon.png', sizes='16x16', type='image/png')
    != styles.toHTML()
  body
    != partial ('header')
    != content
    != partial ('footer')
    != scripts.toHTML()